body {

    
}


form,pre{
    background-image: url("./pic.JPG") ;
//	background-color:white;
	font-size: 15px;
	font-family: monospace;
	color: blue;
	color-profile: blue;
}	
 
body {
	color: brown;

}

.btn-default{
    color: blue;
    
}

p {
        float: right;
	color: red;
	font-size: 20px;
}

#error {
    text-align: center;
    font-size: 16px;
    margin-top: 400px;
    margin-right: 20px;
}
h1{

	position: center;
	size: 20px;
	background-color: blue;

}
